body{
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
	clear: both;
}

.container{
    width: 1180px;
    margin: 0 auto;
}
header{
    height: 60px;
    padding: 20px 0;
    display: inline-block;
    line-height: 60px;
    width: 100%;
}

.logo a svg{
    height: 60px;
}

.logo {
	padding-right: 85px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}

nav, .social, .social ul li, .search{
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
}
.social ul li a:hover{
    opacity: 0.5;
}

.social ul li a svg {
    padding: 18px 30px 0 30px;
    height: 30px;
}

.search a svg{
    padding: 15px 0 0 30px;
    height: 40px;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
    font-size: 22px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #3D58A6;
}
nav ul li:hover{
    text-decoration: none;
    color: #3D58A6;
    opacity: 0.5;
}

.social span{
	color: #3D58A6;
}

.search, .social {
	float: right;
}

.search:hover {
	opacity: 0.5;    
}

#banner-section {
    background: #E6E6E6;
}

#banner {
	padding: 30px 0;
    position: relative;
}
.banner {
	width: 100%;
}

#banner h1{
	font-size: 30px;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 30px;
}

#html {
	height: 30px;
    width: 100px;
    position: absolute;
    bottom: 60px;
    right: 30px;
}

#video-section {
	background-color: #363E97;
    color: white;
    text-transform: uppercase;
    padding-bottom: 90px;
}

#video-section a{
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}

.section-title {
	padding: 30px 0;
    font-size: 24px;
}

.video-block {
	width: 570px;
    height: 320px;
    color: black;
    background-color: #F2F2F2;
    position: relative;
}

.video-block p{
    font-size: 15px;
    margin: 0;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#side-r {
	float: right;
}

#side-l {
	float: left;
}



